<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929716817330-ilvrl4ndcvcck1mdtu2q6aeuarqg12o2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929716817330-ilvrl4ndcvcck1mdtu2q6aeuarqg12o2</string>
	<key>API_KEY</key>
	<string>AIzaSyCCznbd3WF65eeRg24-ma7I7xIQeAqjBtg</string>
	<key>GCM_SENDER_ID</key>
	<string>929716817330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>demo.FakeTwitter</string>
	<key>PROJECT_ID</key>
	<string>tweeterdemo-31ec7</string>
	<key>STORAGE_BUCKET</key>
	<string>tweeterdemo-31ec7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929716817330:ios:40ae9f7d29e79519b028ab</string>
</dict>
</plist>